/* --- BOTÕES DA LISTA (Ajustado com Hover) --- */
.btRes { 
    width: 100%; 
    padding: 15px; 
    border: 1px solid #eee; 
    border-radius: 8px; 
    cursor: pointer; 
    text-align: left; 
    background: #fafafa; 
    margin-bottom: 8px; 
    font-size: 14px; 
    transition: all 0.2s; /* Adiciona suavidade na transição */
}

/* Esta é a linha que faz o efeito de hover voltar: */
.btRes:hover { 
    background: #f0f0f0 !important; 
    border-color: #ccc !important;
    transform: translateX(5px); /* Dá um leve movimento para a direita */
}

.btRes-ativo { 
    border-color: rgb(255, 153, 0) !important; 
    background: #fff !important; 
    font-weight: bold; 
    border-width: 2px !important; 
}
